<div id="viewport">
    <div class="again">
        <a href="#" class="btn btn-primary notknown"><span class="glyphicon glyphicon-repeat"></span> unbekannte</a>
        <span class="bravo">Bravo!</span>
        <a href="#" class="btn btn-primary all"><span class="glyphicon glyphicon-repeat"></span> alle</a>
    </div>
    {% for card in global.cards %}
    <div class="cc unknown {% if forloop.last %}active{% endif %} {% if forloop.last == false %}random{% endif %}">
        <div class="card" id="card{{ card.id }}" class="cat{{ card.cat }}">
            <div class="content de">
                {{ card.de }}
                <!-- <i class="good fa fa-check"></i>
                <i class="bad fa fa-remove"></i> -->
                <span class="number">#{{ card.id }}</span>
            </div>
            <div class="content en">
                {{ card.en }}
                <!-- <i class="good fa fa-check"></i>
                <i class="bad fa fa-remove"></i> -->
                <span class="number">#{{ card.id }}</span>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="cc unknown tutorial">
        <div class="card">
            <div class="content de">
                swipe right to specify that you didn't knew the translation
                <span class="number">turorial</span>
            </div>
            <div class="content en">
                swipe right to specify that you didn't knew the translation
                <span class="number">turorial</span>
            </div>
        </div>
    </div>
    <div class="cc tutorial unknown active">
        <div class="card">
            <div class="content de">
                swipe up to flip me and reveal the translation
                <span class="number">turorial</span>
            </div>
            <div class="content en">
                swipe left to specify that you knew the translation
                <span class="number">turorial</span>
            </div>
        </div>
    </div>
</div>